<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1069018206894-161du7muuigca27u2pg2fofndec3sa2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1069018206894-161du7muuigca27u2pg2fofndec3sa2l</string>
	<key>API_KEY</key>
	<string>AIzaSyCGQ9NmgwYx33Qdayp1qtT_VnDo25AOQiA</string>
	<key>GCM_SENDER_ID</key>
	<string>1069018206894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Xavier.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-51862</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-51862.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069018206894:ios:85e2421b18b6798b44933f</string>
</dict>
</plist>